<div class="app-content">
  <div class="group">
    <mat-card>
      <mat-card-subtitle> Hi it doesn't look like you're logged in </mat-card-subtitle>
      <mat-card-actions>
          <form role="form" (submit)="login()">
              <button  mat-raised-button color="warn" type="submit" name="action">
                <i class="fa fa-google-plus"></i>
                <i>Connect with Google</i>
              </button>
            </form>
      </mat-card-actions>
    </mat-card>


  </div>
</div>
