<form novalidate  [formGroup]="form">
  <mat-form-field floatLabel="auto" *ngFor="let prop of objectProps">

    <!-- <label [attr.for]="prop">{{prop.label}}</label> -->

    <ng-container [ngSwitch]="prop.type">
      <input (change)="emitchange()"  matInput *ngSwitchCase="'text'" [placeholder]="prop.label" [formControlName]="prop.key" [id]="prop.key" [type]="prop.type">
      <mat-radio-group *ngSwitchCase="'radio'" [formControlName]="prop.key">
        <mat-radio-button *ngFor="let option of prop.options" type="radio" [value]="option.value"> {{option.label}} </mat-radio-button>
      </mat-radio-group>
      <mat-checkbox (change)="emitchange()" *ngSwitchCase="'checkbox'" [formControlName]="prop.key">{{prop.label}}</mat-checkbox>
      <div *ngSwitchCase="'select'">
        <select [formControlName]="prop.key">
          <option *ngFor="let option of prop.options" [value]="option.value">
            {{ option.label }}
          </option>
        </select>
      </div>
    </ng-container>

  </mat-form-field>
</form>
